
body {
    background-color: #F00;
}    
div.container {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
}
p, h1, a, nav, footer {
    font-family: Arial, Helvetica, sans-serif;
    color: #00F;
    font-size: 1.2em;
    text-align: center;
}
h1.branded {
    margin-top: 50px;
    margin-bottom: 50px;
    font-style: oblique;
    font-weight: bolder;
    font-size: 4em;
    word-wrap: break-word;
}
div.welcome p {
    font-weight: bolder;
    color: #FFF;
    padding-bottom: 75px;
}
nav ul, footer ul {
  padding: 0px;
  list-style: none;
  font-weight: bold;
  
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 5%;
  margin-left: 5%;
}
nav.hub {
  border-bottom-style: double;
}
a:link {
  color: #00F;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #FFF;
}
a:active {
  text-decoration: none;
  text-align: left;
}
span.line {
    display: inline-block;
}
footer {
    border-top-style: solid;
    border-top-width: thin;
}
