
body {
    background-color: #F00;
    
}
body, h1.branded, nav ul, footer ul {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
}
p, h1, a, nav, footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #00F;
    text-align: center;
}
div.header {
    margin-top: 50px;
    margin-bottom: 50px;
}
h1.branded {
    font-size: 75px;
    font-style: oblique;
    font-weight: bolder;
}
div.welcome p {
    font-weight: bolder;
    color: #FFF;
    padding-bottom: 75px;
}
nav ul, footer ul {
  padding: 0px;
  list-style: none;
  font-weight: bold;
  
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
nav.hub {
  border-bottom-style: double;
  word-spacing: 24px;
  
}
a:link {
  color: #00F;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #FFF;
}
a:active {
  text-decoration: none;
  text-align: left;
}

footer {
    border-top-style: solid;
    border-top-width: thin;
    font-size: 18px;
}
