<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/main.css">
</head>
<body>
    <h1><i>{{ page.title }}</i></h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/press">Press</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  <div class="container">
        {{ content }}
  </div><!-- /.container -->
  <footer>
    <ul>
      <li><a href-"mailto:overqualifide@gmail.com">inquiries@overqualifide.com</a></li>
      <li><a href="https://rpvnwnkl.github.io">rpvnwnkl.github.io</a></li>
    </ul>
  </footer>
</body>
</html>
