<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="header">
        <h1 class="branded">OVERQUALIFIDE Labs, llc</h1>
      <nav class="hub">
        <ul>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div><!-- /.header -->
  </div><!-- /. container -->

  <div class="container">
        {{ content }}
  </div><!-- /.container -->
  <div class="container">
    <footer>
    </footer>
  </div>
</body>
</html>
